// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-index{
  margin: 30px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.response-block{
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
}

.thread-block{
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
}
