// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show
.status-page{
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
}

.show_body{
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: image-url("Brick.jpg");
}